@inherits UmbracoViewPage<IBanner>

<div class="bannerwrapper">
	<div class="banner">
		<div class="banner-head">
			<div>
				<h2>@Model.BannerHeading</h2>
				<h3>@Model.BannerSubHeading</h2>
			</div>
		</div>
	</div>
</div>