@inherits UmbracoViewPage<IHeader>

<div class="headerwrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="header">
					<h1></h1>
				<div class="header-menus">
						@if(Model.Logo != null && Model.Menus.Any())
							{
								<ul class="menus">
									@foreach (var name in Model.Menus)
									{
										<li><a href="../@name">@name</a></li>
									}
								</ul>
							}
				</div>	
			</div>
            </div>
        </div>
    </div>
</div>