@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.Products)Model.Content;
}
<div class="col-lg-6">
	<div class="products-items">
		<h3>@content.Value("ProductHead")</h3>
		@content.Value("ProductContent")
	</div>
</div>
						

				
			
